<header>
<h1 id="title">Dev Test</h1>
</header>
<div class="main">
{{outlet}}
</div>
<footer>
  <span class="footer-link">{{#link-to "index"}}Home{{/link-to}}</span>
  <span class="footer-link">{{#link-to "about"}}About{{/link-to}}</span>
</footer>
