
<p>Contact us today:</p>

<p>
  ABC Corp.
</p>

<p><a href="tel:123.555.7890">(123)555-7890</a></p>

<p><a href="mailto:contact@abc.com">contact@abc.com</a></p>
{{#link-to "about"}}About{{/link-to}}
